exportClasses(BufferedMatrix)
exportPattern("^[^\\.]")
useDynLib("BufferedMatrix")


exportMethods("buffer.dim",
	"is.ColMode",
"is.RowMode",
"RowMode", 
"ColMode", 
"set.buffer.dim", 
"prefix", 
"directory",
"filenames",
"duplicate", 
"ewApply", 
"pow",
"Max",
"Min",
"Sum",
"Var",
"Sd", 
"rowMeans",
"rowSums", 
"rowVars", 
"rowSd", 
"rowMax", 
"rowMin", 
"rowMedians",
"colMeans",
"colSums",
"colVars",
"colSd", 
"colMax", 
"colMin", 
"colMedians",
"colRanges",
"colApply", 
"rowApply", 
"subBufferedMatrix", 
"rownames", 
"colnames", 
"colnames<-", 
"rownames<-", 
"ReadOnlyMode", 
"is.ReadOnlyMode",
"memory.usage",
"disk.usage",
"AddColumn",
"MoveStorageDirectory",
coerce,
"[",
show,
"as.matrix",
"ncol",
"nrow",
"mean")
